$primary-color: #237CBE;
$secondary-color: #F0F0F0;
$primary-padding: 5px;

header#page-header {
  color: $secondary-color;
  background-color: $primary-color;
  padding: $primary-padding;
  border-bottom: 5px solid darken($primary-color, 20%);

  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

footer#page-footer {
  color: $primary-color;
  background-color: $secondary-color;
  padding: $primary-padding;
  border-top: 5px solid darken($secondary-color, 20%);

}

aside#sidebar {
  float: right;
  background-color: $secondary-color;
  width: 200px;
}
