<aside id="sidebar">
  <nav>
    <ul>
      <li class="all-projects">
        <%= link_to "All projects", projects_path %>
      </li>
      <li class="create-project">
        <%= link_to "Add New Project", new_project_path %>
      </li>
    </ul>
  </nav>
</aside>
